/**********GENERELLE INDSTILLINGER*******/


img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    left: 30vw;
}

li {
    float: left;

}



hide {
    display: block;
}

/*
p {
    font-family: Baskerville;
    font-size: 1.2em;
}
*/

.linkbox {
    display: flex;
    width: 20vh;
    height: 10vh;
    margin: auto;
    background-color: lightcyan;
    box-shadow: 3px 5px #D3D3D3;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1em;
    margin-top: 5vh;
    margin-bottom: 8vh;
}



.underline {
    width: 350px;
    Border: 3px black solid;
    border-radius: 30%;
    display: flex;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




h2 {
    margin-bottom: 1em;
    font-size: 1rem;
    align-content: center;
    text-align: center;
    font-weight: 200;
    font-family: Baskerville;
}


h6 {
    font-family: Baskerville;
    font-size: 1.5rem;
    font-weight: 100;
}

h5 {
    font-family: Baskerville;
    font-size: 1.5rem;
    font-weight: 100;
}



h1 {
    text-align: center;
    font-family: baskerville;
}


h2 h3 h4 h5 {
    font-family: Baskerville;
    margin: 2rem;
    text-align: center;

}

.box {
    /* dette er standard-indstillingerne */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vh;
    height: 40vh;
    margin: 13px;
    background-color: lightcyan;
    text-align: center;
    font-size: 1em;
    flex-basis: 40vh;
    flex-grow: 1;
    box-shadow: 5px 7px #D3D3D3;

}

.box:hover {
    color: rosybrown;
}



#bokse {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8vw;
}

/************************************MENUEN/HEADER**************************************/

.hidden {
    transform: scale(0);
}


#menuknap {
    font-size: 2rem;

}

.containerheader h1 {
    font-family: Brush Script MT;
    font-size: 2rem;
    position: relative;


}


#menu {
    transition: transform 1s;
    transform-origin: top right;
    background-color: lightgray;
    width: 5rem;
}

#menu a:hover {
    color: rosybrown;
}




nav {
    position: fixed;




}




a {
    text-decoration: none;

    color: black;
}

.containerheader {
    background-color: lightgrey;
    width: 100%;
    height: 3em;
    position: fixed;


}

.deskmenu a {
    display: block;
    padding: 9px;
    background-color: #dddddd;
    border: 1px black solid;
    margin: 2px;
}

.mobilmenu a {

    background-color: #dddddd;


}

/*************************FORSIDE***************/



#kaktussprite {
    animation: kaktus_sprite;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
    background-image: url(kaktus_sprite.svg);
    background-size: 600% 100%;
    width: 40vw;
    height: 40vw;
    top: 25vw;
    left: 5vw;
    z-index: -1;
}


@keyframes kaktus_sprite {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -800%;
    }
}


#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    margin-top: 0px;
}

.column {
    flex-grow: 2;
    flex-basis: 600px;
    margin-top: 60px;
}


.column img {
    font-size: 3em;
}

/***********************************************OM MIG SIDE *************************************/


.sectionwrapperhome {

    display: flex;
    flex-wrap: wrap;
    margin: 7vw;
    margin-top: 10px;

}


.columnhome {
    margin-top: 30px;
}



.columns {
    background-color: white;
}



@keyframes bouncing {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 1vw;
    }

    100% {
        bottom: 0;
    }
}

.pil {
    animation: bouncing 1s infinite ease-in-out;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
    left: 80vw;
    margin-bottom: -35vw;

    z-index: -1;
}

.pilhop {
    position: relative;
}


.sectionwrapperhome h5 {
    font-family: Baskerville;
    font-size: 1.2em;
}

/************************************PORTOFLIE FORSIDE**************************************/


#portfolie h1 {
    padding-top: 60px;
}

/************************************TEMA 1 INDSTILLINGER**************************************/



#tema1 .sectionwrapper {

    display: flex;
    flex-wrap: wrap;
    margin: 2em;

}


#tema1 .column_wide {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 400px;
}


#tema1 .colors {
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 400px;
}

#tema1 .content {
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-basis: 400px;
    margin: 3em;
}


#tema1 .column_narrow {

    flex-grow: 2;
    flex-basis: 400px;


}

#tema1 .column_pictures {

    display: flex;
    flex-direction: row;
}


#tema1 h3 {
    margin: 2vw;
}

#tema1 h1 {
    padding-top: 60px;
}

.colors div {
    width: 100px;
    height: 100px;
    Border: 1px black solid;
}

.color1 {
    background-color: #d50982;
}

.color2 {
    background-color: #45c0f7;
}

.color3 {
    background-color: #9b00fe;
}

.color4 {
    background-color: #a1d443;
}

.color5 {
    background-color: #fef200;
}


/***********************************************TEMA 2 PILOTOPGAVE INDSTILLINGER**********************************************/


#tema2 h1 {
    padding-top: 60px;
}

#pilotopgave h1 {
    padding-top: 60px;
}

#pilotopgave p {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    margin-top: 3vw;

    margin-left: 22vw;
    margin-right: 10vw;

    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;
    width: 50%;
    height: 50%;

    font-size: 1em;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-left: 10rem;
}


.video-responsive iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 80%;
    position: absolute;
    border: 0px;
}



/***********************************************TEMA 2 REDESIGN TOBIAS STRØM INDSTILLINGER*************************************/

#redesign p {
    margin-left: 22vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    margin-top: 3vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;
    width: 50%;
    height: 50%;
    font-size: 1em;
}

#redesign h1 {
    padding-top: 60px;
}

#stroembillede {
    padding-bottom: 50px;
}




/*********************************************** *************************************/






.boxvidere {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20vh;
    height: 15vh;
    margin: 13px;
    background-color: lightcyan;
    text-align: center;
    font-size: 1em;
    flex-basis: 40vh;
    flex-grow: 1;
    box-shadow: 5px 7px #D3D3D3;
}

.boxvidere:hover {
    color: rosybrown;
}

object {
    width: 100%;
    height: 300vw;
    display: block;
}

/****************VIRKSOMHEDSVIDEO AFSNIT *************/


#virksomhedsvideo h1 {
    padding-top: 60px;
}

video {
    overflow: hidden;
    width: 100%;
    height: 80%;
    width: 80%;
    position: relative;
    margin-left: 10vw;
}


#virksomhedsvideo p {
    margin-left: 22vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    margin-top: 3vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;
    width: 50%;
    height: 50%;

    font-size: 1em;

}



/************ ANIMATION AFSNIT ********/


#tema3 h1 {
    padding-top: 60px;
}


#skildpadde {
    width: 20vw;
    height: 20vw;
    background-image: url(animation/Skildpaddeh%C3%B8jre.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 3vw;
    position: relative;
    z-index: -1;


}

.skildpaddegaa {
    animation-name: skildpaddegaa;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    transform-origin: 15% 100%;

}

@keyframes skildpaddegaa {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(60vw);
    }
}

#animation p {
    margin-left: 22vw;
    margin-right: 10vw;
    margin-bottom: 15px;
    margin-top: 17px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;
    width: 50%;
    height: 50%;
    font-size: 1em;

}


#animation h1 {
    padding-top: 60px;
}



/************ SEX OG SAMFUND AFSNIT ********/

#pigetrist {
    animation: pige_graedende_animation;
    animation-duration: 2s;
    animation-iteration-count: 50;
    animation-timing-function: steps(4);
    background-image: url(animation/pige_gr%C3%A6dende_animation.svg);
    background-size: 400% 100%;
    width: 30vw;
    height: 30vw;
    margin-left: 10vw;

}


@keyframes pige_graedende_animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400%;
    }
}


.spilbillede img {
    max-width: 75%;
    /*
    margin-left: 10vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
*/

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#sexogsamfund .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#sexogsamfund .column {
    flex-grow: 3;
    flex-basis: 900px;


}

.text {
    flex-grow: 1;
    flex-basis: 400px;
    margin: 0.6em 0.6em;

}

.image {
    flex-grow: 1;
    flex-basis: 400PX;

}



#sexogsamfund .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 2em;
    margin-right: 3em;



}

#sexogsamfund .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em;
    margin-right: 3em;



}

#sexogsamfund p {

    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;


    font-size: 1em;

}


#sexogsamfund h1 {
    padding-top: 60px;
}





/*PRØVE PÅ SCROLLING*/

.scroll {
    /*     The image used */
    background-image: url("selvpotraet.jpg");

    /*     Set a specific height */
    min-height: 45vw;
    width: 70vw;

    /*    Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    z-index: -1;
    margin-left: 7vw;
}


.scroll2 {
    /*     The image used */
    background-image: url("2.jpg");

    /*    Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 45vw;
    width: 100%;
    z-index: -1;


}




.columns {
    display: flex;
    flex-wrap: wrap;

    margin: 2em;

}

.column {
    flex-grow: 2;
    flex-basis: 400px;
}







/***********TEMA 4: DESIGN SPRINT*******/

#tema4 h1 {
    padding-top: 60px;
}


#boksetema4 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


#designsprint img {
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.designtxt {

    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;
    margin-left: 10vw;
    margin-right: 7vw;

    font-size: 1em;
}


#protobilleder {
    display: flex;
    flex-wrap: wrap;

}

.proto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vh;
    height: 40vh;
    margin: 13px;
    flex-basis: 40vh;
    flex-grow: 1;

}


#protobilleder img {
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


}

#designsprint h1 {
    padding-top: 70px;
}


/*********** WEB PROTOTYPE*******/

#webproto h1 {
    padding-top: 60px;
}


#webprotobilleder {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


#webprotobilleder img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

#webproto p {

    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;
    margin-left: 10vw;
    margin-right: 7vw;

    font-size: 1em;
}

/*********** KEAT PROTOTYPE*******/


#keat h1 {
    padding-top: 60px;
    margin-bottom: 30px;
}

.underline {
    margin-bottom: 30px;
}

#keatbilleder {
    display: flex;
    flex-wrap: wrap;

}


#keatbilleder img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

#keattxt p {

    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 3vw;
    margin-left: 10vw;
    margin-right: 7vw;

    font-size: 1em;
}


/************KONTAKT SIDE FORMULAR STYLING********************/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* Giver lov til at ændre text feltet lodret */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1em;
    flex-basis: 40vh;
    flex-grow: 1;
}

.rowkontakt {
    display: flex;
    flex-wrap: wrap;
    margin: 3vw;
}


.kontaktbillede img {
    max-width: 80%;
}

#kontakt h1 {
    padding-top: 70px;



}

#kontakt {
    margin-bottom: 100px;
}


#tak h1 {
    padding-top: 100px;
}

/*************************FOOTER INDSTILLINGER***************************************/

#socialemedier {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 900px;
}

.social {
    width: 1em;
    height: 1em;
    margin-right: 10px;

}

#socialemedier img {
    border-radius: 50%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    height: 3.3%;
    position: fixed;
    padding: 1vw;
    opacity: 0.9;
}

.info {
    display: flex;
    justify-content: center;
    flex-basis: 900px;
    font-family: Baskerville;
    font-size: 12px;


}

/*DENNE GØR STATIC SCROLLING PÅ OM MIG SIDE NORMAL IGEN VED MOBILE */
@media only screen and (max-width: 600px) {
    .scroll {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 600px) {
    .scroll2 {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 600px) {
    .pil {
        display: none;
    }
}

/***************MEDIA QUIERIES TIL MENUERNE************* */

@media only screen and (max-width: 600px) {
    .deskmenu {
        display: none;

    }

    .mobilmenu {

        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .deskmenu {
        display: block;

    }

    .mobilmenu {


        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .containerheader text {
        font-family: Brush Script MT;
        font-size: 2rem;
        margin: 30vw;
        position: relative;

    }

    .mobilmenu {
        top: -1vw;

    }
}
