/**********GENERELLE INDSTILLINGER*******/


img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    display: inline;
    left: 30vw;
}

li {
    float: left;

}

.boxvidere {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20vh;
    height: 15vh;
    margin: 13px;
    background-color: lightcyan;
    text-align: center;
    font-size: 1em;
    flex-basis: 400px;
    flex-grow: 1;
    box-shadow: 5px 7px #D3D3D3;
}

.boxvidere:hover {
    color: rosybrown;
}

object {
    width: 100%;
    height: 300vw;
    display: block;
}


hide {
    display: block;
}


.linkbox {
    display: flex;
    width: 20vh;
    height: 10vh;
    margin: auto;
    background-color: lightcyan;
    box-shadow: 3px 5px #D3D3D3;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1em;
    margin-top: 5vh;
    margin-bottom: 8vh;
    font-family: baskerville;
}



.underline {
    width: 350px;
    Border: 3px black solid;
    border-radius: 30%;
    display: flex;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




h2 {
    margin-bottom: 1em;
    font-size: 1.2rem;
    align-content: center;
    text-align: center;
    font-weight: 200;
    font-family: Baskerville;
}


h6 {
    font-family: Baskerville;
    font-size: 1.5rem;
    font-weight: 100;
}

h5 {
    font-family: Baskerville;
    font-size: 1.5rem;
    font-weight: 100;
}



h1 {
    text-align: center;
    font-family: baskerville;
}




.box {
    /* dette er standard-indstillingerne */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vh;
    height: 40vh;
    margin: 13px;
    background-color: lightcyan;
    text-align: center;
    font-size: 1em;
    flex-basis: 40vh;
    flex-grow: 1;
    box-shadow: 5px 7px #D3D3D3;

}

.box:hover {
    color: rosybrown;
}



#bokse {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8vw;
}

/************************************MENUEN/HEADER**************************************/

.hidden {
    transform: scale(0);
}


#menuknap {
    font-size: 2rem;

}

.containerheader h1 {
    font-family: Brush Script MT;
    font-size: 2rem;
    position: relative;


}


#menu {
    transition: transform 1.5s;
    transform-origin: top left;
    background-color: lightgray;
    width: 6rem;


}

#menu a:hover {
    color: rosybrown;
}


nav {
    position: fixed;
}


a {
    text-decoration: none;
    color: black;
}

.containerheader {
    background-color: lightgrey;
    width: 100%;
    height: 3em;
    position: fixed;


}

.deskmenu a {
    display: block;
    padding: 9px;
    background-color: #dddddd;
    border: 1px black solid;
    margin: 2px;
}

.mobilmenu a {
    font-size: 1.5rem;
    background-color: #dddddd;

}

/*************************FORSIDE***************/



#kaktussprite {
    animation: kaktus_sprite;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3);
    background-image: url(blik_spriteGOD.svg);
    background-size: 300% 100%;
    width: 40vw;
    height: 40vw;
    top: 25vw;
    left: 5vw;
    z-index: -1;
}


@keyframes kaktus_sprite {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -300%;
    }
}


#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    margin-top: 0px;
}

.column {
    flex-grow: 2;
    flex-basis: 600px;
    margin-top: 60px;
}


.column img {
    max-width: 130%;
}

/***********************************************OM MIG SIDE *************************************/


.sectionwrapperhome {

    display: flex;
    flex-wrap: wrap;
    margin: 7vw;
    margin-top: 10px;

}


.columnhome {
    margin-top: 50px;
    margin-bottom: 50px;
}



.columns {
    background-color: white;
}



@keyframes bouncing {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 1vw;
    }

    100% {
        bottom: 0;
    }
}

.pil {
    animation: bouncing 1s infinite ease-in-out;
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
    left: 80vw;
    margin-bottom: -35vw;

    z-index: -1;
}

.pilhop {
    position: relative;
}


.sectionwrapperhome h5 {
    font-family: Baskerville;
    font-size: 1.2em;
}


.scroll {
    /*     The image used */
    background-image: url("selvpotraet.jpg");

    /*     Set a specific height */
    min-height: 45vw;
    width: 70vw;

    /*    Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    z-index: -1;
    margin-left: 7vw;
}


.scroll2 {
    /*     The image used */
    background-image: url("2.jpg");

    /*    Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 45vw;
    width: 100%;
    z-index: -1;


}

.columns {
    display: flex;
    flex-wrap: wrap;

    margin: 2em;

}

.column {
    flex-grow: 2;
    flex-basis: 400px;
}


/************************************PORTOFLIE FORSIDE**************************************/


#portfolie h1 {
    padding-top: 60px;
}

/************************************TEMA 1 INDSTILLINGER**************************************/



#tema1 .sectionwrapper {

    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    margin-bottom: 10vw;


}


#tema1 .column_narrow {
    display: flex;
    flex-grow: 1;
    /*Når jeg giver flex-grow 1, betyder det at flex elementerne vil fylde lige meget, så vidt muligt. Har så givet column wide 2, så den fylder mere*/
    flex-basis: 400px;
}


#tema1 .colors {
    margin: 2vw;
}

#tema1 .content {

    margin: 2vw;
    border: 1px black solid;
    padding: 3vw;
}


#tema1 .column_wide {
    flex-grow: 2;
    flex-basis: 400px;
    font-family: Baskerville;

}

#tema1 .column_wide p {

    font-family: Baskerville;
    border: 1px black solid;
    padding: 3vw;
    margin: 2vw;
}


#tema1 .column_pictures {

    display: flex;
    flex-direction: row;

}

#tema1 h1 {
    padding-top: 60px;
}

.colors div {
    width: 100px;
    height: 100px;
    Border: 1px black solid;
}

.color1 {
    background-color: #d50982;
}

.color2 {
    background-color: #45c0f7;
}

.color3 {
    background-color: #9b00fe;
}

.color4 {
    background-color: #a1d443;
}

.color5 {
    background-color: #fef200;
}


/***********************************************TEMA 2 PILOTOPGAVE INDSTILLINGER**********************************************/


#tema2 h1 {
    padding-top: 60px;
}

#pilotopgave h1 {
    padding-top: 60px;
}

#pilotopgave p {
    /*margin top, right, bottom og left*/
    margin: 3vw 10vw 5vw 25vw;
    border: 1px solid black;
    display: flex;
    padding: 3vw;
    width: 50vw;
    font-size: 1em;
    font-family: baskerville;
}


.video-responsive {
    margin-left: 10vw;
    margin-bottom: 10vw;
    border: 0px;
}





/***********************************************TEMA 2 REDESIGN TOBIAS STRØM INDSTILLINGER*************************************/



#redesign p {
    /*margin top, right, bottom og left*/
    margin: 3vw 10vw 5vw 25vw;
    border: 1px solid black;
    justify-content: center;
    padding: 3vw;
    width: 50%;
    font-family: baskerville;
    font-size: 1em;
}

#redesign h1 {
    padding-top: 60px;
}

#stroembillede {
    padding-bottom: 60px;
}




/****************VIRKSOMHEDSVIDEO AFSNIT *************/


#virksomhedsvideo h1 {
    padding-top: 60px;
}

video {

    width: 60%;
    margin-left: 20vw;
}


#virksomhedsvideo p {
    /*margin top, right, bottom og left*/
    margin: 3vw 10vw 5vw 25vw;
    border: 1px solid black;
    padding: 3vw;
    width: 50%;
    font-family: baskerville;
    font-size: 1em;

}


/********ANIMATION*******/
#tema3 h1 {
    padding-top: 60px;
}

.spilbillede img {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



#skildpadde {
    width: 20vw;
    height: 20vw;
    background-image: url(animation/Skildpaddeh%C3%B8jre.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 3vw;
    position: relative;
    z-index: -1;
    animation-iteration-count: infinite;


}

.skildpaddegaa {
    animation-name: skildpaddegaa;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    transform-origin: 15% 100%;

}

@keyframes skildpaddegaa {
    0% {
        transform: translateX(-10vw);
    }

    100% {
        transform: translateX(75vw);
    }
}

#animation p {
    /*margin top, right, bottom og left*/
    margin: 2vw 10vw 5vw 25vw;
    border: 1px solid black;
    padding: 3vw;
    width: 50%;
    font-size: 1em;
    font-family: baskerville;

}


#animation h1 {
    padding-top: 60px;
}



/************ SEX OG SAMFUND AFSNIT ********/

#pigetrist {
    animation: pige_graedende_animation;
    animation-duration: 2s;
    animation-iteration-count: 50;
    animation-timing-function: steps(4);
    background-image: url(animation/pige_gr%C3%A6dende_animation.svg);
    background-size: 400% 100%;
    width: 30vw;
    height: 30vw;
    margin-left: 10vw;

}


@keyframes pige_graedende_animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400%;
    }
}




#sexogsamfund .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#sexogsamfund .columnsamf {
    flex-grow: 1;



}

.text {
    flex-grow: 1;
    flex-basis: 400px;

}

.image img {
    flex-grow: 1;
    flex-basis: 400px;
    width: 50vw;
    margin: 2vw;
}



#sexogsamfund .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 2em;
    margin-right: 3em;



}

#sexogsamfund .bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    margin-right: 3em;



}

#sexogsamfund p {

    border: 1px solid black;
    padding: 3vw;
    font-family: baskerville;
    font-size: 1em;
    margin: 2vw;

}


#sexogsamfund h1 {
    padding-top: 60px;
}



/***********TEMA 4: DESIGN SPRINT*******/

#tema4 h1 {
    padding-top: 60px;
}


#boksetema4 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}




.designtxt {

    border: 1px solid black;
    justify-content: center;
    padding: 3vw;
    margin-left: 10vw;
    margin-right: 7vw;
    font-size: 1em;
    font-family: baskerville;
}


#designbilleder {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25vw;

}

/*
.proto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vh;
    height: 40vh;
    margin: 13px;
    flex-basis: 40vh;
    flex-grow: 1;

}
*/


#designbilleder img {
    max-height: 30vw;
    max-width: 30vw;


}

#designsprint h1 {
    padding-top: 70px;
}


/*********** WEB PROTOTYPE*******/

#webproto h1 {
    padding-top: 60px;
}


#webprotobilleder {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#webproto p {
    border: 1px solid black;
    justify-content: center;
    padding: 3vw;
    margin-left: 10vw;
    margin-right: 7vw;
    font-family: Baskerville;
    font-size: 1em;

}

/*********** KEAT PROTOTYPE*******/


#keat h1 {
    padding-top: 60px;
    margin-bottom: 30px;
    font-family: baskerville;
}

.underline {
    margin-bottom: 30px;
}

#keatbilleder {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#keattxt p {

    border: 1px solid black;
    justify-content: center;
    padding: 3vw;
    margin-left: 10vw;
    margin-right: 7vw;
    font-family: baskerville;
    font-size: 1em;
}


/************KONTAKT SIDE FORMULAR STYLING********************/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* Giver lov til at ændre text feltet lodret */
    font-family: baskerville;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1em;
    flex-basis: 40vh;
    flex-grow: 1;
    font-family: baskerville;
}

.rowkontakt {
    display: flex;
    flex-wrap: wrap;
    margin: 3vw;
}


.kontaktbillede img {
    max-width: 80%;
}

#kontakt h1 {
    padding-top: 70px;



}

#kontakt {
    margin-bottom: 100px;
}


#tak h1 {
    padding-top: 100px;
}

/*************************FOOTER INDSTILLINGER***************************************/

#socialemedier {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 900px;
    margin-bottom: 1vw;
}

.social {
    width: 15px;
    height: 5px;
    margin-right: 10px;

}

#socialemedier img {
    border-radius: 50%;

}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    height: 5%;
    position: fixed;
    opacity: 0.9;

}

.info {
    display: flex;
    justify-content: center;
    flex-basis: 900px;
    font-family: Baskerville;
    font-size: 12px;
    margin-bottom: 1vw;


}

/*DENNE GØR STATIC SCROLLING PÅ OM MIG SIDE NORMAL IGEN VED MOBILE */
@media only screen and (max-width: 600px) {
    .scroll {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 600px) {
    .scroll2 {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 600px) {
    .pil {
        display: none;
    }
}

/***************MEDIA QUIERIES TIL MENUERNE************* */

@media only screen and (max-width: 600px) {
    .deskmenu {
        display: none;

    }

    .mobilmenu {

        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .deskmenu {
        display: block;

    }

    .mobilmenu {


        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .containerheader text {
        font-family: Brush Script MT;
        font-size: 2rem;
        margin: 30vw;
        position: relative;

    }

    .mobilmenu {
        top: -1vw;

    }
}

@media only screen and (max-width: 600px) {
    .column img {
        display: none;
    }

    .columntxt {
        display: block;
    }


}


@media only screen and (min-width: 600px) {
    .column img {
        display: block;

    }

    .columntxt {

        display: none;
    }


}


@media only screen and (min-width: 600px) {
    .video-responsive {
        width: 850px;
        height: 500px;
        margin-left: 20vw;
        margin-bottom: 10vw;
    }


}
